<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Descripcion</h1>
    <h3>animal {{dato.animal}}</h3>
    <h3>raza {{dato.raza}}</h3>
    <h3>color {{dato.color}} </h3>
    <h3>ciudad {{dato.ciudad}}</h3>
    <h3> barrio {{dato.barrio}} </h3>
    <h3> telefono {{dato.telefono}} </h3>
    <img src="data:;base64,{{dato.imagen}}"/>

    <a href="/"><button>Pagina Principal</button>
    </a>
    <a href="/posibles"><button>Atras</button>
    </a>
</body>
</html>