<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Datos de perritos</h1>
    <form method="POST" enctype="multipart/form-data">
        animal  
        <input type="text" name="animal" id="animal"/>
        raza
        <input type="text" name="raza" id="raza">
        color
        <input type="text" name="color" id="color"/>
        ciudad
        <input type="text" name="ciudad" id="ciudad"/>
        barrio
        <input type="text" name="barrio" id="barrio"/>
        telefono
        <input type="text" name="telefono" id="telefono"/>
        descripcion
        <input type="text" name="descripcion" id="descripcion"/>
        <input type="file" name="image" id="image">
        <button type="submit">Enviar</button>
    </form> 

    <a href="/"><button>Pagina Principal</button>
    </a>



  
</body>
</html>