{% extends 'baase2.html' %}
{% block contenido %}


<main class="relative isolate min-h-full">
    <img src="/static/img/fondito.jpg" alt="" class="absolute inset-0 -z-10 h-full w-full object-cover object-top">
    <div class="bg-gradient-to-b from-white">
    <div class="mx-auto max-w-7xl px-6 py-32 text-center sm:py-40 lg:px-8">
      <img class="flex justify-center items-center h-20 m-auto" src="static/img/paw.png" alt="">
      <h1 class="mt-4 text-3xl font-normal tracking-tight text-black sm:text-5xl"> ¡Gracias! </h1>
      <p class="mt-4 text-base text-black sm:mt-6"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente repellendus ut laudantium dignissimos similique maxime voluptatem facere cupiditate, adipisci sit quam consequatur maiores quisquam natus nostrum in vel dolorum minima. </p>
      <div class="mt-10 flex justify-center">
        
        <a href="#" class="text-sm font-semibold leading-7 hover:text-white text-black"> Volver a la página principal </a>
      </div>
    </div>
    </div>
    </div>
  </main>
  


{% endblock %}