{% extends 'baase2.html' %}
{% block contenido %}

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 my-8">
    <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
    <div class="mx-auto max-w-3xl">
      <!-- Content goes here -->


        <div class="gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
          <h2 class="text-base font-semibold leading-7 text-gray-900 mb-4 mt-2">  Información importante </h2>
          <p class="mt-1 text-sm leading-6 text-gray-600"> Esta informacion es necesaria para que podamos ver los animales que coincidan en nuestra base de datos </p>
        <form>
        <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
          <div class="sm:col-span-3">
            <label for="first-name" class="block w-96 text-sm font-medium leading-6 text-gray-900 mt-2"> Raza: </label>
            <div class="mt-2">
              <input type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="  Ej: Pastor Aleman">
            </div>
          </div>
    
        <div class="sm:col-span-3">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900 mt-2"> Color: </label>
            <div class="mt-2">
              <input type="text" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="  Ej: Marrón claro, blanco, etc">
            </div>
        </div>
    
        <div class="sm:col-span-4">
            <label for="email" class="block text-sm font-medium leading-6 text-gray-900"> Barrio: </label>
            <div class="mt-2">
              <input class="block w-full rounded-md border-0 py-1.5 text-gray-900 w-96 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
    
        <div class="sm:col-span-3">
            <label for="country" class="block text-sm font-medium leading-6 text-gray-900"> Ciudad: </label>
            <div class="mt-2">
              <select id="country" name="country" autocomplete="country-name" class="block w-96 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                <option> Asunción </option>
                <option> Fernando de la mora </option>
                <option> San Lorenzo </option>
                <option> Lambaré </option>
                <option> Luque </option>
                <option> Ciudad del este </option>
                <option> Areguá </option>
              </select>
            </div>
        </div>
    
        <div class="col-span-full">
            <label for="telefono" class="block text-sm font-medium leading-6 text-gray-900"> Teléfono:</label>
            <div class="mt-2">
              <input type="numbers" class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset w-96 ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
            </div>
        </div>
    
        <div class="mt-2">
            <label for="descripcion" class="block text-sm font-medium leading-6 text-gray-900 mb-2"> Descripción </label>
            <textarea id="descripcion" name="descripcion" rows="3" class="block w-96 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6 p-4 " placeholder="Añada una informacion extra, una pequeña descripcion del estado del animal o algun mensaje para el posible propietario"></textarea>
        </div>
        <div class="col-span-full">
            <label for="foto" class="  block text-sm font-medium leading-6 text-gray-900"> Agregue una foto del animal </label>
            <p class="mt-1  text-sm leading-6 text-gray-600"> Este es un paso super importante para que podamos identificar al animal perdido y pueda volver con su dueño o pueda ir a un refugio cercano </p>
            <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
                <div class="text-center">
                    <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                    </svg>
                    <div class="mt-4 flex text-sm leading-6 text-gray-600">
                        <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-indigo-600 focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500">
                        <span> Seleccione una foto</span>
                        <input id="file-upload" name="file-upload" type="file" class="sr-only">
                     </label>
                        <p class="pl-1"> o arrastre</p>
                    </div>
                    <p class="text-xs leading-5 text-gray-600">PNG, JPG hasta 10MB</p>
                </div>
            </div>
        </div>
        </form>
        </div>
    </div>
        <div class="mt-6 flex items-center justify-end gap-x-6">
          <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
          <button type="submit" class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>

        </div>
</div>
</div>
{% endblock %}