{% extends 'base_2.html' %}
{% block contenido %}

<div class="h-screen w-full bg-gradient-to-b from-white">
<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
    <div class="mx-auto max-w-5xl">
      <!-- Content goes here -->
      <div class="grid grid-cols-2 grid-rows-2 bg-mx-auto gap-4 flex justify-center items center lg:col-end-1 lg:w-full rounded-md">
     
        <div class="flex flex-col items-center col-span-full"> 
            <h1 class=" mt-12 tracking-tight text-4xl text-center font-extrabold text-[#EEAB6C]"> ¿Quiénes somos?</h1>
            <p class="mt-6 text-lg text-center leading-8"> Un grupo de jovenes entusiastas que al notar la cantidad de casos de perros abandonados y desaparecidos en nuestras comunidades, sentimos la necesidad de marcar la diferencia y brindar una solución tecnológica que pudiera marcar un impacto positivo en la sociedad.</p>
            <p class="mt-6 mb-2 text-lg text-center leading-8"> </p>
        </div>
        <div class="flex flex-col items-center"> 
            <h1 class="tracking-tight text-4xl text-center font-extrabold text-[#EEAB6C]"> Misión</h1>
            <p class="mt-6 text-lg text-center leading-8"> Nuestro objetivo principal es reunir a mascotas perdidas con sus dueños, utilizando una combinación de tecnología, redes comunitarias y recursos especializados. Únete a nosotros en nuestra misión de unir de nuevo a las familias con sus adorados compañeros, ¡porque cada reencuentro cuenta!.</p>
            <p class="mt-6 text-lg text-center leading-8" > </p>
        </div>
        <div class="flex flex-col items-center"> 
            <h1 class="tracking-tight text-4xl text-center font-extrabold text-[#EEAB6C]"> Visión</h1>
            <p class="mt-6 text-lg text-center leading-8"> Nos comprometemos a fomentar una cultura de participación comunitaria, conciencia y responsabilidad. Trabajaremos en estrecha colaboración con refugios, veterinarios y organizaciones de bienestar animal para difundir información educativa y promover a la comunidad a ser proactiva al reportar animales encontrados y brindamos el apoyo necesario para facilitar su devolución a sus dueños legítimos.</p>
            <p class="mt-6 text-lg text-center leading-8" > </p>
        </div>
    </div>
</div>
</div>
</div>

{% endblock %}