{% extends 'base_2.html' %}
{% block contenido %}

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 my-8">
    <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
    <div class="mx-auto max-w-3xl">
      <!-- Content goes here -->


        <div class="gap-x-8 gap-y-10 border-b border-gray-900/10 pb-12 md:grid-cols-3">
          <h1 class="text-base font-bold text-gray-900 mb-2 mt-2"> ¿Tu mascota se escapó?  </h1>
          <p class="mt-1 text-sm leading-6 text-gray-600 mb-4"> Esta informacion es necesaria para que podamos ver los animales que coincidan en nuestra base de datos </p>
        <form method="POST"  enctype="multipart/form-data">
        <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
          <div class="sm:col-span-3">
            <label class="block w-96 text-sm font-medium leading-6 text-gray-900 mt-2"> Animal: </label>
            <div class="mt-2">
              <input name="animal" id="animal" type="text" class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Ej: Perro, gato, tortuga, etc.">
            </div>
          </div>
    
        <div class="sm:col-span-3">
            <label for="last-name" class="block text-sm font-medium leading-6 text-gray-900 mt-2"> Color: </label>
            <div class="mt-2">
              <input name="color" id="color" type="text" class=" px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Ej: Marrón claro, blanco, etc">
            </div>
        </div>
        </div>

        <div class="grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6 md:col-span-2">
          <div class="sm:col-span-3">
            <label  class="block w-96 text-sm font-medium leading-6 text-gray-900 mt-2"> Raza: </label>
            <div class="mt-2">
              <input name="raza" id="raza" type="text" class=" px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Ej: Pastor Aleman, Siames, etc. ">
            </div>
          </div>
    
        <div class="sm:col-span-3">
            <label class="block text-sm font-medium leading-6 text-gray-900 mt-2"> Manto: </label>
            <div class="mt-2">
              <input type="text" class=" px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Ej: Tabby, Carey, Atigrado, Liso, etc. ">
            </div>
        </div>

        <div class="sm:col-span-3">
          <label for="country" class="block text-sm font-medium leading-6 text-gray-900"> Ciudad: </label>
          <div class="mt-2">
            <select id="ciudad" name="ciudad" autocomplete="Ciudad" class=" px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
              <option> Asunción </option>
              <option> Fernando de la mora </option>
              <option> San Lorenzo </option>
              <option> Lambaré </option>
              <option> Luque </option>
              <option> Ciudad del este </option>
              <option> Areguá </option>
            </select>
          </div>
      </div>
    
        <div class="sm:col-span-full">
            <label  class="block text-sm font-medium leading-6 text-gray-900"> Barrio: </label>
            <div class="mt-2">
              <input name ="barrio" id="barrio" class=" px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Ej: Ykua sati, barrio herrera, etc. ">
            </div>
        </div>
    
        <div class="col-span-full">
            <label for="telefono" class="block text-sm font-medium leading-6 text-gray-900"> Teléfono:</label>
            <div class="mt-2">
              <input type="text" name="telefono" id="telefono" class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="+595...">
            </div>
        </div>
    
        <div class="col-span-full mt-2">
            <label for="descripcion" class="block text-sm font-medium leading-6 text-gray-900 mb-2"> Descripción </label>
            <textarea id="descripcion" name="descripcion" rows="3" class="px-2 block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" placeholder="Añada una informacion extra, una pequeña descripcion del estado del animal o algun mensaje para el posible propietario"></textarea>
        </div>
        <div class="col-span-full">
          <label for="foto" class="  block text-sm font-medium leading-6 text-gray-900"> Agregue una foto del animal. </label>
          <p class="mt-1  text-sm leading-6 text-gray-600"> Añada una imagen para que podamos comparar con nuestra base de datos. </p>
          <div class="mt-2 flex justify-center rounded-lg border border-dashed border-gray-900/25 px-6 py-10">
              <div class="text-center bg-gray-50 w-full h-full">
                  <svg class="mx-auto h-12 w-12 text-gray-300" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
                  </svg>
                  <div class="mt-4 flex text-sm leading-6 text-gray-600">
                      <label for="file-upload" class=" ml-32 mb-2 relative cursor-pointer rounded-md bg-white font-semibold text-[#EEAB6C] focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-black">
                      <input type="file" name="image" id="image"  >
                   </label>
                      <p class="pl-1"> </p>
                  </div>
                  <p class="text-xs leading-5 text-gray-600">PNG, JPG hasta 10MB.</p>
              </div>
          </div>
      </div>
      <div class="mt-6 flex items-center justify-end gap-x-6">
        <button type="submit" class="rounded-md bg-[#B2C96B] px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-[#EEAB6C] ">Enviar</button>
      </div>
      </form>
        </div>
    </div>
        
</div>
</div>
{% endblock %}